@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,700,800&display=swap);

@charset "UTF-8";

@font-face {
  font-family: CircularStd;
  font-display: swap;
  src: url("../fonts/CircularStd-Medium.woff2") format("woff2"), url("../fonts/CircularStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: CircularStd;
  font-display: swap;
  src: url("../fonts/CircularStd-Book.woff2") format("woff2"), url("../fonts/CircularStd-Book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #ffffff;
  line-height: 1;
  font-family: "Open Sans";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Open Sans";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #020A18;
  font-weight: 600;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 73.5rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=__container-big] {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.button {
  background-color: #3A68B8;
  display: inline-block;
  border-radius: 0.3125rem;
  line-height: 1.375;
  padding: 0.9375rem 1.875rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button:hover {
  background-color: #2553a2;
}

.button-fz20 {
  font-size: 1.25rem;
  line-height: 1.35;
}

.title {
  font-weight: 800;
  line-height: 1.3;
}

.text {
  font-weight: 600;
  line-height: 1.625;
  opacity: 0.7;
}

.text-fz18 {
  font-size: 1.125rem;
}

.block-main__button span {
  padding-left: 2.0625rem;
  background: url("../img/icons/play.svg") 0 center/20px no-repeat;
}

.label {
  font-family: CircularStd;
  line-height: 1.25;
  font-weight: 500;
  text-transform: uppercase;
}

.label:not(:last-child) {
  margin-bottom: 2rem;
}

.spoller {
  position: relative;
  display: none;
}

.spoller::before {
  content: "";
  position: absolute;
  right: -20px;
  top: 50%;
  width: 0.9375rem;
  height: 0.125rem;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.spoller::after {
  content: "";
  position: absolute;
  right: -29px;
  top: 50%;
  width: 0.9375rem;
  height: 0.125rem;
  background-color: #fff;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.spoller._spoller-active::before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.spoller._spoller-active::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header {
  z-index: 55;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 6.25rem;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  background-color: rgba(9, 17, 33, 0.7725490196);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 5.8125rem;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
  z-index: 5;
}

.header__logo img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 2.75rem;
          flex: 0 1 2.75rem;
  max-width: 2.75rem;
  max-height: 3.5625rem;
  max-width: 100%;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
}

.header__button {
  min-width: 7rem;
  z-index: 5;
}

.logo__text {
  font-size: 1.375rem;
  line-height: 1.4090909091;
  color: #3A68B8;
}

.menu-open .menu__body,
.menu-open .menu__body::before {
  left: 0;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__item {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__item:hover {
  color: #3A68B8;
}

.menu__link {
  display: block;
  line-height: 1.375;
}

.icon-menu {
  display: none;
}

.footer {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(42%, rgba(255, 255, 255, 0.1)), color-stop(260%, rgba(255, 255, 255, 0.1)));
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.1) 42%, rgba(255, 255, 255, 0.1) 260%);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 42%, rgba(255, 255, 255, 0.1) 260%);
}

.footer__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto (1fr)[4];
  grid-template-columns: auto repeat(4, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 3.125rem;
}

.footer__logo {
  display: inline-block;
}

.footer__logo:not(:last-child) {
  margin-bottom: 0.625rem;
}

.footer__logo img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 2.75rem;
          flex: 0 1 2.75rem;
  max-width: 2.75rem;
  max-height: 3.5625rem;
  max-width: 100%;
}

.info-footer__text {
  font-family: CircularStd;
  font-weight: 400;
  opacity: 0.6;
  font-size: 0.875rem;
  line-height: 1.2857142857;
  max-width: 16.5625rem;
}

.info-footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
}

.contacts {
  font-size: 0.875rem;
  font-weight: 500;
  font-family: CircularStd;
}

.contacts__mail {
  padding-left: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../img/social/sms.svg") 0 0/0.8125rem no-repeat;
}

.contacts__phone {
  padding-left: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../img/social/phone.svg") 0 0/0.8125rem no-repeat;
}

.contacts__address {
  padding-left: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../img/social/geo.svg") 0 0/0.8125rem no-repeat;
}

.menu-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
}

.menu-footer__item {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu-footer__item:hover {
  color: #3A68B8;
}

.menu-footer__link {
  font-family: CircularStd;
  font-weight: 400;
  font-size: 0.875rem;
  opacity: 0.6;
}

.about-footer__body:not(:last-child) {
  margin-bottom: 1.3125rem;
}

.about-footer__text {
  font-family: CircularStd;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.2857142857;
  opacity: 0.6;
}

.about-footer__text:not(:last-child) {
  margin-bottom: 1.8125rem;
}

.about-footer__link {
  font-family: CircularStd;
  font-weight: 400;
}

.about-footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-footer__item {
  position: relative;
}

.social-footer__item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.25rem;
  width: 100%;
  height: 0.0625rem;
  background-color: #fff;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.social-footer__item:hover::before {
  opacity: 1;
}

.page section[data-watch] [class*=__container] {
  -webkit-transform: translate(0, 50%);
      -ms-transform: translate(0, 50%);
          transform: translate(0, 50%);
}

.page section[data-watch]._watcher-view [class*=__container] {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.block-main__container .block-main__content {
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.block-main__container .block-main__content[data-watch]._watcher-view {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.block-main__container .block-main__media {
  -webkit-transform: translate(50%, 0);
      -ms-transform: translate(50%, 0);
          transform: translate(50%, 0);
}

.block-main__container .block-main__media[data-watch]._watcher-view {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.info__container .info__media {
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.info__container .info__media[data-watch]._watcher-view {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.info__container .info__content {
  -webkit-transform: translate(50%, 0);
      -ms-transform: translate(50%, 0);
          transform: translate(50%, 0);
}

.info__container .info__content[data-watch]._watcher-view {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.what__container .what__content {
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.what__container .what__content[data-watch]._watcher-view {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.what__container .what__media {
  -webkit-transform: translate(50%, 0);
      -ms-transform: translate(50%, 0);
          transform: translate(50%, 0);
}

.what__container .what__media[data-watch]._watcher-view {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.block-main {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(42%, rgba(255, 255, 255, 0.1)), color-stop(260%, rgba(255, 255, 255, 0.1)));
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.1) 42%, rgba(255, 255, 255, 0.1) 260%);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 42%, rgba(255, 255, 255, 0.1) 260%);
}

.block-main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-main__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 53%;
          flex: 0 0 53%;
}

.block-main__subtitle {
  font-size: 1.125rem;
  line-height: 1.6111111111;
  color: #3A68B8;
  text-transform: uppercase;
}

.block-main__subtitle:not(:last-child) {
  margin-bottom: 0.625rem;
}

.block-main__text {
  max-width: 35rem;
}

.block-main__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  row-gap: 1.875rem;
}

.block-main__media {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55%;
          flex: 0 0 55%;
  /* 632/1146 */
  /* 632/1446 */
}

.block-main__image img {
  max-width: 100%;
}

.partners {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(42%, rgba(255, 255, 255, 0.1)), color-stop(260%, rgba(255, 255, 255, 0.1)));
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.1) 42%, rgba(255, 255, 255, 0.1) 260%);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 42%, rgba(255, 255, 255, 0.1) 260%);
}

.partners__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  row-gap: 1.875rem;
}

.partners__item img {
  max-width: 100%;
}

.info__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info__media {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 58%;
          flex: 0 1 58%;
  /* 725/1146 */
}

.info__image img {
  max-width: 100%;
}

.info__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.benefits__wrapper {
  margin-bottom: 3.125rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.benefits__item {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.875rem;
  text-align: center;
  background: rgba(255, 255, 255, 0.2) 0%;
  border-radius: 10px;
  padding: 1.875rem 1.875rem 1.875rem 1.875rem;
}

.swiper-slide__image img {
  max-width: 100%;
}

.swiper-slide__label {
  font-weight: 700;
  font-size: 25px;
  line-height: 1, 25;
}

.swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-pagination-bullet {
  width: 0.9375rem;
  height: 0.9375rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.9375rem;
          flex: 0 0 0.9375rem;
  background: #2C3647;
  opacity: 0.5;
  border-radius: 10px;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

.what__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.875rem;
}

.what__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  /* 548/1420 */
}

.what__text {
  opacity: 0.7;
  line-height: 1.6;
}

.what__media {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  /* 642/1420 */
}

.what__image img {
  max-width: 100%;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

[data-simplebar] {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}

.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto !important;
  height: auto !important;
  z-index: 0;
}

.simplebar-offset {
  direction: inherit !important;
  -webkit-box-sizing: inherit !important;
          box-sizing: inherit !important;
  resize: none !important;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

.simplebar-content-wrapper {
  direction: inherit;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%;
  /* Required for horizontal native scrollbar to not appear if parent is taller than natural height */
  width: auto;
  max-width: 100%;
  /* Not required for horizontal scroll to trigger */
  max-height: 100%;
  /* Needed for vertical scroll to trigger */
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.simplebar-content:before,
.simplebar-content:after {
  content: " ";
  display: table;
}

.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none;
}

.simplebar-height-auto-observer-wrapper {
  -webkit-box-sizing: inherit !important;
          box-sizing: inherit !important;
  height: 100%;
  width: 100%;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  -webkit-box-flex: inherit;
      -ms-flex-positive: inherit;
          flex-grow: inherit;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

.simplebar-height-auto-observer {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden;
}

[data-simplebar].simplebar-dragging {
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[data-simplebar].simplebar-dragging .simplebar-content {
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[data-simplebar].simplebar-dragging .simplebar-track {
  pointer-events: all;
}

.simplebar-scrollbar {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 10px;
}

.simplebar-scrollbar:before {
  position: absolute;
  content: "";
  background: black;
  border-radius: 7px;
  left: 2px;
  right: 2px;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0.5s linear;
  -o-transition: opacity 0.2s 0.5s linear;
  transition: opacity 0.2s 0.5s linear;
}

.simplebar-scrollbar.simplebar-visible:before {
  opacity: 0.5;
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

.simplebar-track.simplebar-vertical {
  top: 0;
  width: 11px;
}

.simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
}

.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 11px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 0;
  bottom: 0;
  min-height: 0;
  min-width: 10px;
  width: auto;
}

/* Rtl support */

[data-simplebar-direction=rtl] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 0;
}

.simplebar-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll;
  -ms-overflow-style: scrollbar !important;
}

.simplebar-dummy-scrollbar-size > div {
  width: 200%;
  height: 200%;
  margin: 10px 0;
}

.simplebar-hide-scrollbar {
  position: fixed;
  left: 0;
  visibility: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@media (min-width: 47.99875em) {
  .info__image {
    -webkit-transform: translate(-18%, 0);
        -ms-transform: translate(-18%, 0);
            transform: translate(-18%, 0);
  }
}

@media (min-width: 73.5em) {
  .title {
    font-size: 3.4375rem;
  }

  .title-fz40 {
    font-size: 2.5rem;
  }

  .header__container {
    gap: 5.25rem;
  }

  .header__container {
    padding-top: 1.3125rem;
  }

  .header__container {
    padding-bottom: 1.3125rem;
  }

  .footer {
    padding-top: 4.8125rem;
  }

  .footer {
    padding-bottom: 9.25rem;
  }

  .info-footer__logo:not(:last-child) {
    margin-bottom: 2.3125rem;
  }

  .block-main__container {
    padding-top: 9.3125rem;
  }

  .block-main__container {
    padding-bottom: 2.8125rem;
  }

  .block-main__container {
    gap: 7.125rem;
  }

  .block-main__subtitle {
    font-size: 1.125rem;
  }

  .block-main__title:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .block-main__text:not(:last-child) {
    margin-bottom: 3.125rem;
  }

  .partners {
    padding-bottom: 6.25rem;
  }

  .partners {
    padding-top: 2.8125rem;
  }

  .info {
    padding-top: 8.125rem;
  }

  .info {
    padding-bottom: 10.625rem;
  }

  .info__container {
    gap: 4.25rem;
  }

  .info__title:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .info__text:not(:last-child) {
    margin-bottom: 3.125rem;
  }

  .benefits {
    padding-bottom: 5.3125rem;
  }

  .what {
    padding-top: 5.3125rem;
  }

  .what {
    margin-bottom: 10.625rem;
  }

  .what__title:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .what__text:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}

@media (min-width: 40em) and (min-width: 73.5em) {
  .footer {
    padding-right: 2.25rem;
  }

  .footer {
    padding-left: 2.25rem;
  }
}

@media (min-width: 75em) {
  .menu__list {
    gap: 2.5rem;
  }
}

@media (max-width: 40em) {
  .spoller {
    display: block;
  }

  .spoller {
    text-decoration: underline;
  }

  .footer__container {
    gap: 1.25rem;
  }

  .footer__info:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .footer__column {
    -ms-grid-column-span: 3;
    grid-column: span 3;
  }
}

@media (max-width: 20em) {
  .title {
    font-size: 2.25rem;
  }

  .title-fz40 {
    font-size: 1.75rem;
  }

  .header__container {
    gap: 1.25rem;
  }

  .header__container {
    padding-top: 0.9375rem;
  }

  .header__container {
    padding-bottom: 0.9375rem;
  }

  .footer {
    padding-top: 1.25rem;
  }

  .footer {
    padding-bottom: 1.875rem;
  }

  .info-footer__logo:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .block-main__container {
    padding-top: 6.25rem;
  }

  .block-main__container {
    padding-bottom: 0.9375rem;
  }

  .block-main__container {
    gap: 1.875rem;
  }

  .block-main__subtitle {
    font-size: 1rem;
  }

  .block-main__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .block-main__text:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .partners {
    padding-bottom: 1.875rem;
  }

  .partners {
    padding-top: 0.9375rem;
  }

  .info {
    padding-top: 3.125rem;
  }

  .info {
    padding-bottom: 1.875rem;
  }

  .info__container {
    gap: 1.875rem;
  }

  .info__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .info__text:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .benefits {
    padding-bottom: 2.5rem;
  }

  .what {
    padding-top: 2.5rem;
  }

  .what {
    margin-bottom: 3.125rem;
  }

  .what__title:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .what__text:not(:last-child) {
    margin-bottom: 0.625rem;
  }
}

@media (max-width: 69.375em) {
  .footer__info {
    -ms-grid-column-span: 5;
    grid-column: span 5;
  }
}

@media (max-width: 68.75em) {
  .partners__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 61.99875em) {
  .footer__container {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }

  .about-footer {
    -ms-grid-column-span: 4;
    grid-column: span 4;
  }

  .what__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 54.375em) {
  .logo__text {
    font-size: 0rem;
  }
}

@media (max-width: 49.87375em) {
  .menu__list {
    gap: 0.9375rem;
  }
}

@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 7.5rem 0.9375rem 1.875rem 0.9375rem;
    overflow: auto;
    background-color: #061227;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 5.8125rem;
    background-color: #061227;
    z-index: 5;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .menu__link {
    font-size: 32px;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .block-main__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .block-main__actions {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .info__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 29.99875em) {
  .block-main__actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 20em) and (max-width: 73.5em) {
@supports (font-size: clamp( 2.25rem , 1.8060747664rem  +  2.2196261682vw , 3.4375rem )) {
    .title {
      font-size: clamp( 2.25rem , 1.8060747664rem  +  2.2196261682vw , 3.4375rem );
    }
}

@supports not (font-size: clamp( 2.25rem , 1.8060747664rem  +  2.2196261682vw , 3.4375rem )) {
    .title {
      font-size: calc(2.25rem + 1.1875 * (100vw - 20rem) / 53.5);
    }
}

@supports (font-size: clamp( 1.75rem , 1.4696261682rem  +  1.4018691589vw , 2.5rem )) {
    .title-fz40 {
      font-size: clamp( 1.75rem , 1.4696261682rem  +  1.4018691589vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 1.75rem , 1.4696261682rem  +  1.4018691589vw , 2.5rem )) {
    .title-fz40 {
      font-size: calc(1.75rem + 0.75 * (100vw - 20rem) / 53.5);
    }
}

@supports (gap: clamp( 1.25rem , -0.2453271028rem  +  7.476635514vw , 5.25rem )) {
    .header__container {
      gap: clamp( 1.25rem , -0.2453271028rem  +  7.476635514vw , 5.25rem );
    }
}

@supports not (gap: clamp( 1.25rem , -0.2453271028rem  +  7.476635514vw , 5.25rem )) {
    .header__container {
      gap: calc(1.25rem + 4 * (100vw - 20rem) / 53.5);
    }
}

@supports (padding-top: clamp( 0.9375rem , 0.7973130841rem  +  0.7009345794vw , 1.3125rem )) {
    .header__container {
      padding-top: clamp( 0.9375rem , 0.7973130841rem  +  0.7009345794vw , 1.3125rem );
    }
}

@supports not (padding-top: clamp( 0.9375rem , 0.7973130841rem  +  0.7009345794vw , 1.3125rem )) {
    .header__container {
      padding-top: calc(0.9375rem + 0.375 * (100vw - 20rem) / 53.5);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.7973130841rem  +  0.7009345794vw , 1.3125rem )) {
    .header__container {
      padding-bottom: clamp( 0.9375rem , 0.7973130841rem  +  0.7009345794vw , 1.3125rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.7973130841rem  +  0.7009345794vw , 1.3125rem )) {
    .header__container {
      padding-bottom: calc(0.9375rem + 0.375 * (100vw - 20rem) / 53.5);
    }
}

@supports (padding-top: clamp( 1.25rem , -0.0817757009rem  +  6.6588785047vw , 4.8125rem )) {
    .footer {
      padding-top: clamp( 1.25rem , -0.0817757009rem  +  6.6588785047vw , 4.8125rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , -0.0817757009rem  +  6.6588785047vw , 4.8125rem )) {
    .footer {
      padding-top: calc(1.25rem + 3.5625 * (100vw - 20rem) / 53.5);
    }
}

@supports (padding-bottom: clamp( 1.875rem , -0.8820093458rem  +  13.785046729vw , 9.25rem )) {
    .footer {
      padding-bottom: clamp( 1.875rem , -0.8820093458rem  +  13.785046729vw , 9.25rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , -0.8820093458rem  +  13.785046729vw , 9.25rem )) {
    .footer {
      padding-bottom: calc(1.875rem + 7.375 * (100vw - 20rem) / 53.5);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.4234813084rem  +  2.5700934579vw , 2.3125rem )) {
    .info-footer__logo:not(:last-child) {
      margin-bottom: clamp( 0.9375rem , 0.4234813084rem  +  2.5700934579vw , 2.3125rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.4234813084rem  +  2.5700934579vw , 2.3125rem )) {
    .info-footer__logo:not(:last-child) {
      margin-bottom: calc(0.9375rem + 1.375 * (100vw - 20rem) / 53.5);
    }
}

@supports (padding-top: clamp( 6.25rem , 5.1051401869rem  +  5.7242990654vw , 9.3125rem )) {
    .block-main__container {
      padding-top: clamp( 6.25rem , 5.1051401869rem  +  5.7242990654vw , 9.3125rem );
    }
}

@supports not (padding-top: clamp( 6.25rem , 5.1051401869rem  +  5.7242990654vw , 9.3125rem )) {
    .block-main__container {
      padding-top: calc(6.25rem + 3.0625 * (100vw - 20rem) / 53.5);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.2365654206rem  +  3.5046728972vw , 2.8125rem )) {
    .block-main__container {
      padding-bottom: clamp( 0.9375rem , 0.2365654206rem  +  3.5046728972vw , 2.8125rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.2365654206rem  +  3.5046728972vw , 2.8125rem )) {
    .block-main__container {
      padding-bottom: calc(0.9375rem + 1.875 * (100vw - 20rem) / 53.5);
    }
}

@supports (gap: clamp( 1.875rem , -0.0876168224rem  +  9.8130841121vw , 7.125rem )) {
    .block-main__container {
      gap: clamp( 1.875rem , -0.0876168224rem  +  9.8130841121vw , 7.125rem );
    }
}

@supports not (gap: clamp( 1.875rem , -0.0876168224rem  +  9.8130841121vw , 7.125rem )) {
    .block-main__container {
      gap: calc(1.875rem + 5.25 * (100vw - 20rem) / 53.5);
    }
}

@supports (font-size: clamp( 1rem , 0.953271028rem  +  0.2336448598vw , 1.125rem )) {
    .block-main__subtitle {
      font-size: clamp( 1rem , 0.953271028rem  +  0.2336448598vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.953271028rem  +  0.2336448598vw , 1.125rem )) {
    .block-main__subtitle {
      font-size: calc(1rem + 0.125 * (100vw - 20rem) / 53.5);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.7827102804rem  +  2.3364485981vw , 2.5rem )) {
    .block-main__title:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.7827102804rem  +  2.3364485981vw , 2.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.7827102804rem  +  2.3364485981vw , 2.5rem )) {
    .block-main__title:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 53.5);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.4077102804rem  +  2.3364485981vw , 3.125rem )) {
    .block-main__text:not(:last-child) {
      margin-bottom: clamp( 1.875rem , 1.4077102804rem  +  2.3364485981vw , 3.125rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.4077102804rem  +  2.3364485981vw , 3.125rem )) {
    .block-main__text:not(:last-child) {
      margin-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 53.5);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.2394859813rem  +  8.1775700935vw , 6.25rem )) {
    .partners {
      padding-bottom: clamp( 1.875rem , 0.2394859813rem  +  8.1775700935vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.2394859813rem  +  8.1775700935vw , 6.25rem )) {
    .partners {
      padding-bottom: calc(1.875rem + 4.375 * (100vw - 20rem) / 53.5);
    }
}

@supports (padding-top: clamp( 0.9375rem , 0.2365654206rem  +  3.5046728972vw , 2.8125rem )) {
    .partners {
      padding-top: clamp( 0.9375rem , 0.2365654206rem  +  3.5046728972vw , 2.8125rem );
    }
}

@supports not (padding-top: clamp( 0.9375rem , 0.2365654206rem  +  3.5046728972vw , 2.8125rem )) {
    .partners {
      padding-top: calc(0.9375rem + 1.875 * (100vw - 20rem) / 53.5);
    }
}

@supports (padding-top: clamp( 3.125rem , 1.2558411215rem  +  9.3457943925vw , 8.125rem )) {
    .info {
      padding-top: clamp( 3.125rem , 1.2558411215rem  +  9.3457943925vw , 8.125rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 1.2558411215rem  +  9.3457943925vw , 8.125rem )) {
    .info {
      padding-top: calc(3.125rem + 5 * (100vw - 20rem) / 53.5);
    }
}

@supports (padding-bottom: clamp( 1.875rem , -1.3960280374rem  +  16.3551401869vw , 10.625rem )) {
    .info {
      padding-bottom: clamp( 1.875rem , -1.3960280374rem  +  16.3551401869vw , 10.625rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , -1.3960280374rem  +  16.3551401869vw , 10.625rem )) {
    .info {
      padding-bottom: calc(1.875rem + 8.75 * (100vw - 20rem) / 53.5);
    }
}

@supports (gap: clamp( 1.875rem , 0.9871495327rem  +  4.4392523364vw , 4.25rem )) {
    .info__container {
      gap: clamp( 1.875rem , 0.9871495327rem  +  4.4392523364vw , 4.25rem );
    }
}

@supports not (gap: clamp( 1.875rem , 0.9871495327rem  +  4.4392523364vw , 4.25rem )) {
    .info__container {
      gap: calc(1.875rem + 2.375 * (100vw - 20rem) / 53.5);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 1.0163551402rem  +  1.1682242991vw , 1.875rem )) {
    .info__title:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 1.0163551402rem  +  1.1682242991vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 1.0163551402rem  +  1.1682242991vw , 1.875rem )) {
    .info__title:not(:last-child) {
      margin-bottom: calc(1.25rem + 0.625 * (100vw - 20rem) / 53.5);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.1197429907rem  +  4.0887850467vw , 3.125rem )) {
    .info__text:not(:last-child) {
      margin-bottom: clamp( 0.9375rem , 0.1197429907rem  +  4.0887850467vw , 3.125rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.1197429907rem  +  4.0887850467vw , 3.125rem )) {
    .info__text:not(:last-child) {
      margin-bottom: calc(0.9375rem + 2.1875 * (100vw - 20rem) / 53.5);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 1.4485981308rem  +  5.2570093458vw , 5.3125rem )) {
    .benefits {
      padding-bottom: clamp( 2.5rem , 1.4485981308rem  +  5.2570093458vw , 5.3125rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.4485981308rem  +  5.2570093458vw , 5.3125rem )) {
    .benefits {
      padding-bottom: calc(2.5rem + 2.8125 * (100vw - 20rem) / 53.5);
    }
}

@supports (padding-top: clamp( 2.5rem , 1.4485981308rem  +  5.2570093458vw , 5.3125rem )) {
    .what {
      padding-top: clamp( 2.5rem , 1.4485981308rem  +  5.2570093458vw , 5.3125rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 1.4485981308rem  +  5.2570093458vw , 5.3125rem )) {
    .what {
      padding-top: calc(2.5rem + 2.8125 * (100vw - 20rem) / 53.5);
    }
}

@supports (margin-bottom: clamp( 3.125rem , 0.3212616822rem  +  14.0186915888vw , 10.625rem )) {
    .what {
      margin-bottom: clamp( 3.125rem , 0.3212616822rem  +  14.0186915888vw , 10.625rem );
    }
}

@supports not (margin-bottom: clamp( 3.125rem , 0.3212616822rem  +  14.0186915888vw , 10.625rem )) {
    .what {
      margin-bottom: calc(3.125rem + 7.5 * (100vw - 20rem) / 53.5);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.3533878505rem  +  2.9205607477vw , 2.5rem )) {
    .what__title:not(:last-child) {
      margin-bottom: clamp( 0.9375rem , 0.3533878505rem  +  2.9205607477vw , 2.5rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.3533878505rem  +  2.9205607477vw , 2.5rem )) {
    .what__title:not(:last-child) {
      margin-bottom: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 53.5);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.3913551402rem  +  1.1682242991vw , 1.25rem )) {
    .what__text:not(:last-child) {
      margin-bottom: clamp( 0.625rem , 0.3913551402rem  +  1.1682242991vw , 1.25rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.3913551402rem  +  1.1682242991vw , 1.25rem )) {
    .what__text:not(:last-child) {
      margin-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 53.5);
    }
}
}

@media (min-width: 49.87375em) and (max-width: 75em) {
@supports (gap: clamp( 0.9375rem , -2.1639470673rem  +  6.2185960897vw , 2.5rem )) {
    .menu__list {
      gap: clamp( 0.9375rem , -2.1639470673rem  +  6.2185960897vw , 2.5rem );
    }
}

@supports not (gap: clamp( 0.9375rem , -2.1639470673rem  +  6.2185960897vw , 2.5rem )) {
    .menu__list {
      gap: calc(0.9375rem + 1.5625 * (100vw - 49.87375rem) / 25.12625);
    }
}
}

@media (min-width: 40em) and (min-width: 20em) and (max-width: 73.5em) {
@supports (padding-right: clamp( 1.25rem , 0.8761682243rem  +  1.8691588785vw , 2.25rem )) {
    .footer {
      padding-right: clamp( 1.25rem , 0.8761682243rem  +  1.8691588785vw , 2.25rem );
    }
}

@supports not (padding-right: clamp( 1.25rem , 0.8761682243rem  +  1.8691588785vw , 2.25rem )) {
    .footer {
      padding-right: calc(1.25rem + 1 * (100vw - 20rem) / 53.5);
    }
}

@supports (padding-left: clamp( 1.25rem , 0.8761682243rem  +  1.8691588785vw , 2.25rem )) {
    .footer {
      padding-left: clamp( 1.25rem , 0.8761682243rem  +  1.8691588785vw , 2.25rem );
    }
}

@supports not (padding-left: clamp( 1.25rem , 0.8761682243rem  +  1.8691588785vw , 2.25rem )) {
    .footer {
      padding-left: calc(1.25rem + 1 * (100vw - 20rem) / 53.5);
    }
}
}

@media (min-width: 40em) and (max-width: 20em) {
  .footer {
    padding-right: 1.25rem;
  }

  .footer {
    padding-left: 1.25rem;
  }
}